
STRINGTABLE
{
1, 	"V3D Initialized V4[%L%Vector4_Init%"
3, 	"V3D Delete Vector4[%LL%V3D4_Delete%Vector4 Number"
4, 	"V3D Make Vector4[%L%V3D4_DynamicMakeVector4%"
}


1 VERSIONINFO
FILEVERSION 1,6,0,0
PRODUCTVERSION 1,6,0,0
FILEOS 0x0
FILETYPE 0x0
{
BLOCK "StringFileInfo"
{
	BLOCK "000004B0"
	{
		VALUE "CompanyName", "TheGameCreators"
		VALUE "ProductName", "eXtends"
		VALUE "ProductVersion", "1.6"
		VALUE "FileVersion", "1.6"
		VALUE "FileDescription", "eXtends System"
		VALUE "InternalName", "eXtends"
		VALUE "OriginalFilename", "DBProVectors4eXtends.DLL"
		VALUE "LegalCopyright", "TheGameCreators"
		VALUE "LegalTrademarks", "TheGameCreators"
		VALUE "PrivateBuild", "Public"
		VALUE "SpecialBuild", "Public"
		VALUE "Email", ""
		VALUE "Website", "http://www.TheGameCreators.com"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0000 0x04B0
}
}


